html,
body {
  min-height: 100%;
  background: #080B0B;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}
* {
  font-family: 'Work Sans', sans-serif;
}

::-webkit-scrollbar {
  /* width: 6px; */
  width: 0px;
  height: 2px;
}
/* ::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #67DAB1;
  border-radius: 20px;
} */

#leaderboard::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}
#leaderboard::-webkit-scrollbar-track {
  background: transparent;
}
#leaderboard::-webkit-scrollbar-thumb {
  background-color: #67DAB1;
  border-radius: 20px;
}
  
#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/* Britanica Header Gradient */
.header-gradient {
  font-family: 'Britanica-HeavySemiExpanded', sans-serif;
  background: linear-gradient(180deg, #B7BCBC 0%, #FFFFFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}

@font-face {
  font-family: 'Britanica-HeavySemiExpanded';
  src: url('/fonts/britanica-heavy-semi-expanded/britanica-heavy-semi-expanded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.wallet-connect-wrapper {
  min-height: 100vh;
}

/* Start -- Number Input box */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* End -- Number Input box */

/* Customize Toast Style */
@keyframes progress-bar {
  from { width: 0; }
  to { width: 100%; }
}

.go2072408551.react-hot-toast {
  max-width: 100%;
  padding: 0;
}

.go2072408551.react-hot-toast .go3958317564 {
  margin: 0;
}

/* End -- Customize Toast Style */

/* FadeUp Animation for landing */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes absoluteFadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, 200px);
  }
  
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

/* ======================================= */
.tren-connect-box .react-code-input {
  display: flex !important;
  justify-content: space-between;
  gap: 4px;
}

.tren-connect-box .react-code-input input::selection {
  background: transparent;
}

.tren-connect-box .react-code-input input:disabled {
  background: transparent !important;
  color: #67DAB1 !important;
  border: 1px solid #67dab14b !important;
}

.tren-connect-box .react-code-input input:focus {
  border-color: #FFF !important;
  border-width: 2px !important;
}

@media screen and (max-width: 768px) {
  .tren-connect-box .react-code-input {
    gap: 6px !important;
  }
  .tren-connect-box .react-code-input input {
    height: 45px !important;
    font-size: 20px !important;
    border-radius: 3px !important;
    font-weight: 300 !important;
  }
} 
