/* Start -- Rainbow connect wallet custom style */

/* Navbar connect wallet style */

.navbar-content-container .ju367va {
    min-width: 130px;
    justify-content: end;
}

#navigation-wallet .ju367vei {
    box-shadow: none !important;
}

#navigation-wallet .iekbcc0.ju367v8 {
    font-size: 18px !important;
    font-weight: 400;
    margin-right: 5px !important;
}

#navigation-wallet .ju367va3 {
    border-color: transparent !important;
    background: transparent !important;
}

#navigation-wallet .ju367v9i {
    min-width: 150px;
    width: 100%;
    text-align: center !important;
    background-color: transparent !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
    border: solid 1px #67DAB1 !important;
}

/* Dashboard connect wallet style */

#dashboard-wallet .ju367v9i {
    min-width: 180px;
    width: 100%;
    height: 45px;
    text-align: center !important;
    background-color: #67DAB1 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    color: #000 !important;
    border-radius: 10px !important;
    border: solid 1px #67DAB1 !important;
}

#dashboard-wallet .ju367va {
    width: 100%;
}

@media (max-width: 768px) {
    #dashboard-wallet .ju367v9i {
        height: 35px;
        font-size: 16px !important;
    }
}

/* Mobile view address button style */

/* .layout-vertical-nav .ju367va button{
    width: 100%;
    border-radius: 10px;
    text-align: center;
} */

.layout-vertical-nav .ju367va {
    width: 100%;
}

.layout-vertical-nav .ju367va button {
    text-align: center;
}

.layout-vertical-nav .ju367v1p {
    width: calc(100vw - 110px);
    justify-content: space-between;
}

/* End -- Rainbow connect wallet custom style */